<div class="main">
	<div class="card-my3">
		<div class="large">
			<div class="active-div2">
				<div class="owl">
					<img class="img2" src="../../../../assets/images/slidingWindow.jpg">
                </div>
					<h2 class="mt-5">Sliding Windows</h2>
				</div>
				<div class="hover-div2">
					<h3 class="mt-5">Description</h3>
					<p class="mt-5">These windows have sashes that slightly overlap each other, while moving on a fixed
						horizontal frame. These are best suited for residential and commercial spaces where space saving
						is a must. They offer convenience and space.</p>
				</div>
			</div>
		</div>
	</div>