.banner {
  min-height: 60vh;
  width: 100%;
  background-size: cover;
}
.feature-heading{
  min-height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
  position: relative;
}
.contact-heading{
	font-size: 40px;
	color:teal;
	font-weight: 600;
	letter-spacing: 2px;
}