<app-header> </app-header>
<section class="banner">
  <div class="feature-heading">
      <h3 class="contact-heading text-center mb-4">Fantastic Windows & Doors Fenestration</h3>
      <p class="text-center">It specializes in design, manufacture, installation and service of precision-engineered, 100% customized UPVC and System Aluminium Windows and Doors</p>
  </div>
</section>
<div class="container">
  <div class="row">
      <div class="col-sm-12">
          <div class="upvc">
              <ul id="menu">
                  <a class="menu-button icon-plus teal" href="#menu" title="Show navigation"><span><br/><br/>UPVC</span></a>
                  <a class="menu-button icon-minus teal" href="#0" title="Hide navigation"><span><br/><br/>UPVC</span></a>
                  <li class="menu-item teal">
                      <a href="#menu">
                          Poly 
                      </a>
                  </li>
                  <li class="menu-item teal">
                      <a href="#menu">
                          Unplasticized 
                      </a>
                  </li>
                  <li class="menu-item teal">
                      <a href="#menu">
                          Vinyl
                      </a>
                  </li>
                  <li class="menu-item teal">
                      <a href="#menu">
                          Cholride
                      </a>
                  </li>
              </ul> 
         </div>
      </div>
  </div>
</div>
<section class="parallex">
</section>
<section class="client mb-5 mt-5">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
              <div class="section_our_solution">
                  <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12">
                          <h2 class="text-center mt-5 mb-5">Client Reviews</h2>
                      <div class="our_solution_category">
                          <div class="solution_cards_box">
                          <app-customer-reviews [reviewContent]="getReviewContent(0)"> </app-customer-reviews>
                          <!--<div class="solution_card">
                            <div class="hover_color_bubble"></div>
                            <div class="so_top_icon">
                                <i class="fas fa-pen-alt fa-2x"></i>
                            </div>
                            <div class="solu_title">
                              <h3>Client Name</h3>
                            </div>
                            <div class="solu_description">
                              <p>
                                  It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                              </p>
                            </div>
                          </div>-->
                          <app-customer-reviews [reviewContent]="getReviewContent(1)"> </app-customer-reviews>
                          <!--<div class="solution_card">
                            <div class="hover_color_bubble"></div>
                            <div class="so_top_icon">
                                <i class="fas fa-pen-alt fa-2x"></i>
                            </div>
                            <div class="solu_title">
                              <h3>Client Name</h3>
                            </div>
                            <div class="solu_description">
                              <p>
                                  It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                              </p>
                            </div>
                          </div>-->
                          </div>
                          <!--  -->
                          <div class="solution_cards_box">
                          <app-customer-reviews [reviewContent]="getReviewContent(2)"> </app-customer-reviews>
                          <!--<div class="solution_card">
                              <div class="hover_color_bubble"></div>
                              <div class="so_top_icon">
                                  <i class="fas fa-pen-alt fa-2x"></i>
                              </div>
                              <div class="solu_title">
                              <h3>Client Name</h3>
                              </div>
                              <div class="solu_description">
                              <p>
                                  It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                              </p>
                              </div>
                          </div>-->
                          <app-customer-reviews [reviewContent]="getReviewContent(3)"> </app-customer-reviews>
                          <!--<div class="solution_card">
                              <div class="hover_color_bubble"></div>
                              <div class="so_top_icon">
                                  <i class="fas fa-pen-alt fa-2x"></i>
                              </div>
                              <div class="solu_title">
                              <h3>Client Name</h3>
                              </div>
                              <div class="solu_description">
                              <p>
                                  It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                              </p>
                              </div>
                          </div>-->
                          </div>
                      </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<app-carousel> </app-carousel>
<app-footer> </app-footer>