.icon-size {
  font-size: 35px
}
.color-facebook {
  color: #4267B2;
}
.color-twitter {
  color: #1DA1F2;
}
.color-whatsapp {
  color: #25d366;
}
.color-instagram {
  color: #d6249f;
}
