<app-header> </app-header>

<section class="banner contact-banner">
	<div class="feature-heading">
		<h3 class="contact-heading text-center mb-4">PRODUCTS</h3>
	</div>
</section>
<section class="windows-components">
	<div class="container">
		<h3 class="contact-heading text-center mb-5 mt-5">COMPONENTS</h3>
		<div class="row justify-content-center">
			<div class="col-lg-offset-4">
				<img src="https://fantastic-windows.netlify.app/assetsimages/componentsFrame.jpg" alt="components">
      </div>
			</div>
			<div class="row faq-left">
				<div class="col-lg-4">
					<div id="accordion">
						<div class="card">
							<div class="card-header text-center" id="headingOne">
								<h5 class="mb-0">
									<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne"
                                      aria-expanded="true" aria-controls="collapseOne">
                                      Outer Frame
                                  </button>
								</h5>
							</div>
							<div id="collapseOne" class="collapse" aria-labelledby="headingOne"
								data-parent="#accordion">
								<div class="card-body">
									LThis is an immovable part of the window fixed into the aperture that was built into
									the wall when house was constructed
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header text-center" id="headingTwo">
								<h5 class="mb-0">
									<button class="btn btn-link collapsed" data-toggle="collapse"
                                      data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                      Sash
                                  </button>
								</h5>
							</div>
							<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
								data-parent="#accordion">
								<div class="card-body">
									This is typically an open-able part of the window, although sometimes it can be
									fixed too (depending on the requirement). It is used to hold the glass
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header text-center" id="headingThree">
								<h5 class="mb-0">
									<button class="btn btn-link collapsed" data-toggle="collapse"
                                      data-target="#collapseThree" aria-expanded="false"
                                      aria-controls="collapseThree">
                                      Trim
                                  </button>
								</h5>
							</div>
							<div id="collapseThree" class="collapse" aria-labelledby="headingThree"
								data-parent="#accordion">
								<div class="card-body">
									Usually used for covering the openings or the gaps between window frame and the
									wall, a trim also doubles up as a styling accessory for the window making it
									visually more appealing. Trims can be applied to both exterior and interior of the
									window
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header text-center" id="headingFour">
								<h5 class="mb-0">
									<button class="btn btn-link collapsed" data-toggle="collapse"
                                      data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                      Glazing
                                  </button>
								</h5>
							</div>
							<div id="collapseFour" class="collapse" aria-labelledby="headingFour"
								data-parent="#accordion">
								<div class="card-body">
									This is the glass portion of the window and is often referred to as glazing. Two or
									three glasses can also be combined together to improve thermal and sound insulation.
									Different varieties of glasses are available and you can choose the one that meets
									your requirements.
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div id="accordion1">

						<div class="card">
							<div class="card-header text-center" id="headingFive">
								<h5 class="mb-0">
									<button class="btn btn-link collapsed" data-toggle="collapse"
                                      data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                      Transome
                                  </button>
								</h5>
							</div>
							<div id="collapseFive" class="collapse" aria-labelledby="headingFive"
								data-parent="#accordion1">
								<div class="card-body">
									These are horizontal bars that divide the window's outer frame
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header text-center" id="headingSix">
								<h5 class="mb-0">
									<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix"
                                      aria-expanded="true" aria-controls="collapseFive">
                                      Mullion
                                  </button>
								</h5>
							</div>
							<div id="collapseSix" class="collapse" aria-labelledby="headingSix"
								data-parent="#accordion1">
								<div class="card-body">
									These are vertical bars that divide the window's outer frame
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header text-center" id="headingTwo">
								<h5 class="mb-0">
									<button class="btn btn-link collapsed" data-toggle="collapse"
                                      data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSix">
                                      Midrail
                                  </button>
								</h5>
							</div>
							<div id="collapseSeven" class="collapse" aria-labelledby="headingTwo"
								data-parent="#accordion1">
								<div class="card-body">
									It refers to the dividers (horizontal or vertical) in window sash
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header text-center" id="headingThree">
								<h5 class="mb-0">
									<button class="btn btn-link collapsed" data-toggle="collapse"
                                      data-target="#collapseEight" aria-expanded="false"
                                      aria-controls="collapseSeven">
                                      Sill
                                  </button>
								</h5>
							</div>
							<div id="collapseEight" class="collapse" aria-labelledby="headingThree"
								data-parent="#accordion1">
								<div class="card-body">
									It is the horizontal part at the bottom of the window
								</div>
							</div>
						</div>

					</div>
				</div>
				<div class="col-lg-4">
					<div id="accordion2">

						<div class="card">
							<div class="card-header text-center" id="headingThree">
								<h5 class="mb-0">
									<button class="btn btn-link collapsed" data-toggle="collapse"
                                      data-target="#collapseNine" aria-expanded="false" aria-controls="collapseEight">
                                      Grill
                                  </button>
								</h5>
							</div>
							<div id="collapseNine" class="collapse" aria-labelledby="headingThree"
								data-parent="#accordion2">
								<div class="card-body">
									These are usually metal bars that are clamped inside the window frame or onto the
									wall to protect against theft.
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header text-center" id="headingThree">
								<h5 class="mb-0">
									<button class="btn btn-link collapsed" data-toggle="collapse"
                                      data-target="#collapseTen" aria-expanded="false" aria-controls="collapseNine">
                                      Handles & Locks
                                  </button>
								</h5>
							</div>
							<div id="collapseTen" class="collapse" aria-labelledby="headingThree"
								data-parent="#accordion2">
								<div class="card-body">
									Handles are used for opening and closing the window and are fitted on to the sash of
									the window. Usually they are accompanied with a locking mechanism to prevent easy
									entry into your home
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header text-center" id="headingOne">
								<h5 class="mb-0">
									<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEleven"
                                      aria-expanded="true" aria-controls="collapseTen">
                                      Friction Hinge
                                  </button>
								</h5>
							</div>
							<div id="collapseEleven" class="collapse" aria-labelledby="headingOne"
								data-parent="#accordion2">
								<div class="card-body">
									It is used for connecting sash with the outer frame. Using a friction hinge, the
									sash can be kept open at any desired angle.
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-header text-center" id="headingTwo">
								<h5 class="mb-0">
									<button class="btn btn-link collapsed" data-toggle="collapse"
                                      data-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseEleven">
                                      Glazing Bead
                                  </button>
								</h5>
							</div>
							<div id="collapseTwelve" class="collapse" aria-labelledby="headingTwo"
								data-parent="#accordion2">
								<div class="card-body">
									It is used for securing the glass on the frame or the sash
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</section>
<section class="parallex mb-5 mt-5">
	<div class="container">
		<div class="row">
			<div class="col text-center mt-5">
				<h3>UNDERSTANDING WINDOWS</h3>
				<p class="text-justify mt-5">A window is defined as an opening in the wall above the floor level, whose
					traditional function is to provide natural light, ventilation and vision. With advancements in
					technology the role of a window has broadened to include insulation against outside noise,
					protection from storms, prevent rain water seepage and reduce rising energy costs. It also breaks
					the monotony of the walls and adds to the overall aesthetics of your home.
					Windows come in various shapes and styles, and the right kind of window can change the look of your
					room, home or office.
					Choosing the right type of window for a particular location can be quite intimidating given the
					different styles, features and materials available in the market today. Here are a few things you
					need to know when you plan to replace those old, creaky windows.
				</p>
			</div>
		</div>
	</div>
</section>
<section class="windows mt-5">
	<div class="container">
		<h2 class="contact-heading text-center mb-5">WINDOWS</h2>
		<div class="row">
			<app-image-text-swap [isHorizontalTransition]="true" [isVerticalTransition]="false"
				[cardImageObj]="getWindowImagesObj(0)"> </app-image-text-swap>
			<app-image-text-swap [isHorizontalTransition]="true" [isVerticalTransition]="false"
				[cardImageObj]="getWindowImagesObj(2)"> </app-image-text-swap>
			<app-image-text-swap [isHorizontalTransition]="true" [isVerticalTransition]="false"
				[cardImageObj]="getWindowImagesObj(3)"> </app-image-text-swap>
			<app-image-text-swap [isHorizontalTransition]="true" [isVerticalTransition]="false"
				[cardImageObj]="getWindowImagesObj(4)"> </app-image-text-swap>
			<app-image-text-swap [isHorizontalTransition]="true" [isVerticalTransition]="false"
				[cardImageObj]="getWindowImagesObj(5)"> </app-image-text-swap>
			<app-image-text-swap [isHorizontalTransition]="true" [isVerticalTransition]="false"
				[cardImageObj]="getWindowImagesObj(6)"> </app-image-text-swap>
			<app-image-text-swap [isHorizontalTransition]="true" [isVerticalTransition]="false"
				[cardImageObj]="getWindowImagesObj(7)"> </app-image-text-swap>
		</div>
	</div>
</section>
<section class="parallex mb-5 mt-5">
	<div class="container">
		<div class="row">
			<div class="col text-center mt-5">
				<h3>UNDERSTANDING GLASS</h3>
				<p class="text-justify mt-5">Glass is amorphous (non-crystalline) transparent / translucent and is
					produced by floating molten glass over a bed of a liquid tin, which has a low melting temperature.
					Float glass is made from a mixture of sand, limestone, soda ash, dolomite, iron oxide and salt cake
					which are heated to a temperature of 1500 degrees Celsius.
					The most common glass used is “Lead Glass” for optical use which has 24% or more lead (PbO) by
					weight and refractive index of more than 1.545 %.
				</p>
			</div>
		</div>
	</div>
</section>
<section class="glasses">
	<div class="container">
		<h2 class="contact-heading text-center mb-5 mt-5">GLASSES</h2>
		<div class="row">
			<app-image-text-swap [isHorizontalTransition]="false" [isVerticalTransition]="true"
				[cardImageObj]="getGlassImagesObj(0)"> </app-image-text-swap>
			<app-image-text-swap [isHorizontalTransition]="false" [isVerticalTransition]="true"
				[cardImageObj]="getGlassImagesObj(2)"> </app-image-text-swap>
			<app-image-text-swap [isHorizontalTransition]="false" [isVerticalTransition]="true"
				[cardImageObj]="getGlassImagesObj(3)"> </app-image-text-swap>
			<app-image-text-swap [isHorizontalTransition]="false" [isVerticalTransition]="true"
				[cardImageObj]="getGlassImagesObj(4)"> </app-image-text-swap>
			<app-image-text-swap [isHorizontalTransition]="false" [isVerticalTransition]="true"
				[cardImageObj]="getGlassImagesObj(5)"> </app-image-text-swap>
			<app-image-text-swap [isHorizontalTransition]="false" [isVerticalTransition]="true"
				[cardImageObj]="getGlassImagesObj(6)"> </app-image-text-swap>
			<app-image-text-swap [isHorizontalTransition]="false" [isVerticalTransition]="true"
				[cardImageObj]="getGlassImagesObj(7)"> </app-image-text-swap>
		</div>
	</div>
</section>
<app-footer> </app-footer>