<app-header> </app-header>

<section class="banner contact-banner">
  <div class="feature-heading">
      <h3 class="contact-heading text-center mb-4">PRODUCTS</h3>
  </div>
</section>
<section class="windows-components">
  <div class="container">
      <h3 class="contact-heading text-center mb-5 mt-5">COMPONENTS</h3>
  <div class="row justify-content-center">
      <div class="col-lg-offset-4">
          <img src="../../../../assets/images/componentsFrame.jpg" alt="components">
      </div>
  </div>
  <div class="row faq-left">
      <div class="col-lg-4">
          <div id="accordion">
                      <div class="card">
                          <div class="card-header text-center" id="headingOne">
                              <h5 class="mb-0">
                                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne"
                                      aria-expanded="true" aria-controls="collapseOne">
                                      Outer Frame
                                  </button>
                              </h5>
                          </div>
                          <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                              data-parent="#accordion">
                              <div class="card-body">
                                  LThis is an immovable part of the window fixed into the aperture that was built into the wall when house was constructed
                              </div>
                          </div>
                      </div>
                      <div class="card">
                          <div class="card-header text-center" id="headingTwo">
                              <h5 class="mb-0">
                                  <button class="btn btn-link collapsed" data-toggle="collapse"
                                      data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                      Sash
                                  </button>
                              </h5>
                          </div>
                          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                              data-parent="#accordion">
                              <div class="card-body">
                                  This is typically an open-able part of the window, although sometimes it can be fixed too (depending on the requirement). It is used to hold the glass
                              </div>
                          </div>
                      </div>
                      <div class="card">
                          <div class="card-header text-center" id="headingThree">
                              <h5 class="mb-0">
                                  <button class="btn btn-link collapsed" data-toggle="collapse"
                                      data-target="#collapseThree" aria-expanded="false"
                                      aria-controls="collapseThree">
                                      Trim
                                  </button>
                              </h5>
                          </div>
                          <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                              data-parent="#accordion">
                              <div class="card-body">
                                  Usually used for covering the openings or the gaps between window frame and the wall, a trim also doubles up as a styling accessory for the window making it visually more appealing. Trims can be applied to both exterior and interior of the window
                              </div>
                          </div>
                      </div>
                      <div class="card">
                          <div class="card-header text-center" id="headingFour">
                              <h5 class="mb-0">
                                  <button class="btn btn-link collapsed" data-toggle="collapse"
                                      data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                      Glazing
                                  </button>
                              </h5>
                          </div>
                          <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                              data-parent="#accordion">
                              <div class="card-body">
                                  This is the glass portion of the window and is often referred to as glazing. Two or three glasses can also be combined together to improve thermal and sound insulation. Different varieties of glasses are available and you can choose the one that meets your requirements.
                              </div>
                          </div>
                      </div>
                  </div>
      </div>
      <div class="col-lg-4">
          <div id="accordion1">
              
                      <div class="card">
                          <div class="card-header text-center" id="headingFive">
                              <h5 class="mb-0">
                                  <button class="btn btn-link collapsed" data-toggle="collapse"
                                      data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                      Transome
                                  </button>
                              </h5>
                          </div>
                          <div id="collapseFive" class="collapse" aria-labelledby="headingFive"
                              data-parent="#accordion1">
                              <div class="card-body">
                                  These are horizontal bars that divide the window's outer frame
                              </div>
                          </div>
                      </div>
                      <div class="card">
                          <div class="card-header text-center" id="headingSix">
                              <h5 class="mb-0">
                                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix"
                                      aria-expanded="true" aria-controls="collapseFive">
                                      Mullion
                                  </button>
                              </h5>
                          </div>
                          <div id="collapseSix" class="collapse" aria-labelledby="headingSix"
                              data-parent="#accordion1">
                              <div class="card-body">
                                  These are vertical bars that divide the window's outer frame
                              </div>
                          </div>
                      </div>
                      <div class="card">
                          <div class="card-header text-center" id="headingTwo">
                              <h5 class="mb-0">
                                  <button class="btn btn-link collapsed" data-toggle="collapse"
                                      data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSix">
                                      Midrail
                                  </button>
                              </h5>
                          </div>
                          <div id="collapseSeven" class="collapse" aria-labelledby="headingTwo"
                              data-parent="#accordion1">
                              <div class="card-body">
                                  It refers to the dividers (horizontal or vertical) in window sash
                              </div>
                          </div>
                      </div>
                      <div class="card">
                          <div class="card-header text-center" id="headingThree">
                              <h5 class="mb-0">
                                  <button class="btn btn-link collapsed" data-toggle="collapse"
                                      data-target="#collapseEight" aria-expanded="false"
                                      aria-controls="collapseSeven">
                                      Sill
                                  </button>
                              </h5>
                          </div>
                          <div id="collapseEight" class="collapse" aria-labelledby="headingThree"
                              data-parent="#accordion1">
                              <div class="card-body">
                                  It is the horizontal part at the bottom of the window
                              </div>
                          </div>
                      </div>
                      
                  </div>
      </div>
      <div class="col-lg-4">
          <div id="accordion2">
                      
                      <div class="card">
                          <div class="card-header text-center" id="headingThree">
                              <h5 class="mb-0">
                                  <button class="btn btn-link collapsed" data-toggle="collapse"
                                      data-target="#collapseNine" aria-expanded="false" aria-controls="collapseEight">
                                      Grill
                                  </button>
                              </h5>
                          </div>
                          <div id="collapseNine" class="collapse" aria-labelledby="headingThree"
                              data-parent="#accordion2">
                              <div class="card-body">
                                  These are usually metal bars that are clamped inside the window frame or onto the wall to protect against theft.
                              </div>
                          </div>
                      </div>
                      <div class="card">
                          <div class="card-header text-center" id="headingThree">
                              <h5 class="mb-0">
                                  <button class="btn btn-link collapsed" data-toggle="collapse"
                                      data-target="#collapseTen" aria-expanded="false" aria-controls="collapseNine">
                                      Handles & Locks
                                  </button>
                              </h5>
                          </div>
                          <div id="collapseTen" class="collapse" aria-labelledby="headingThree"
                              data-parent="#accordion2">
                              <div class="card-body">
                                  Handles are used for opening and closing the window and are fitted on to the sash of the window. Usually they are accompanied with a locking mechanism to prevent easy entry into your home
                              </div>
                          </div>
                      </div>
                      <div class="card">
                          <div class="card-header text-center" id="headingOne">
                              <h5 class="mb-0">
                                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEleven"
                                      aria-expanded="true" aria-controls="collapseTen">
                                      Friction Hinge
                                  </button>
                              </h5>
                          </div>
                          <div id="collapseEleven" class="collapse" aria-labelledby="headingOne"
                              data-parent="#accordion2">
                              <div class="card-body">
                                  It is used for connecting sash with the outer frame. Using a friction hinge, the sash can be kept open at any desired angle.
                              </div>
                          </div>
                      </div>
                      <div class="card">
                          <div class="card-header text-center" id="headingTwo">
                              <h5 class="mb-0">
                                  <button class="btn btn-link collapsed" data-toggle="collapse"
                                      data-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseEleven">
                                      Glazing Bead
                                  </button>
                              </h5>
                          </div>
                          <div id="collapseTwelve" class="collapse" aria-labelledby="headingTwo"
                              data-parent="#accordion2">
                              <div class="card-body">
                                  It is used for securing the glass on the frame or the sash
                              </div>
                          </div>
                      </div>
                  </div>
      </div>
  </div>
  </div>
</section>
<section class="parallex mb-5 mt-5">
  <div class="container">
      <div class="row">
          <div class="col text-center mt-5">
              <h3>UNDERSTANDING WINDOWS</h3>
              <p class="text-justify mt-5">A window is defined as an opening in the wall above the floor level, whose traditional function is to provide natural light, ventilation and vision. With advancements in technology the role of a window has broadened to include insulation against outside noise, protection from storms, prevent rain water seepage and reduce rising energy costs. It also breaks the monotony of the walls and adds to the overall aesthetics of your home.
                  Windows come in various shapes and styles, and the right kind of window can change the look of your room, home or office.
                  Choosing the right type of window for a particular location can be quite intimidating given the different styles, features and materials available in the market today. Here are a few things you need to know when you plan to replace those old, creaky windows.
              </p>
          </div>
      </div> 
  </div>
</section>
<section class="windows mt-5">
  <div class="container"> 
      <h2 class="contact-heading text-center mb-5">WINDOWS</h2> 
      <div class="row">
          <div class="col-md-6 col-lg-3">
              <div class="main">
                  <div class="card-my3">	
                      <div class="large">
                          <div class="active-div2">
                              <div class="owl">
                                  <img class="img2" src="../../../../assets/images/slidingWindow.jpg">
                              </div>
                              <h2 class="mt-5">Sliding Windows</h2>
                          </div>
                          <div class="hover-div2">
                              <h3 class="mt-5">Description</h3>
                              <p class="mt-5">These windows have sashes that slightly overlap each other, while moving on a fixed horizontal frame. These are best suited for residential and commercial spaces where space saving is a must. They offer convenience and space.</p>  
                          </div>
                      </div>	
                  </div>
              </div>
          </div>
          <div class="col-md-6 col-lg-3">
              <div class="main">
                  <div class="card-my3">	
                      <div class="large">
                          <div class="active-div2">
                              <div class="owl">
                                  <img class="img2" src="../../../../assets/images/casementWindow.jpg">
                              </div>
                              <h2 class="mt-5">Casement Windows</h2>
                          </div>
                          <div class="hover-div2">
                              <h3 class="mt-5">Description</h3>
                              <p class="mt-5">These windows have their sash hinged, which enables them to swing in and out, just like a door. Once again, these windows are very popular with residential plots.</p>  
                          </div>
                      </div>	
                  </div>
              </div>
          </div>
          <div class="col-md-6 col-lg-3">
              <div class="main">
                  <div class="card-my3">	
                      <div class="large">
                          <div class="active-div2">
                              <div class="owl">
                                  <img class="img2" src="../../../../assets/images/bayWindow.jpg">
                              </div>
                              <h2 class="mt-5">Bay Windows</h2>
                          </div>
                          <div class="hover-div2">
                              <h3 class="mt-5">Description</h3>
                              <p class="mt-5">These windows protrude out of the main walls of a room, creating a hollow bay. They are best suited for spacious rooms with high ceilings that offer a good scenic view and also add a touch of elegance to the room.</p>  
                          </div>
                      </div>	
                  </div>
              </div>
          </div>
          <div class="col-md-6 col-lg-3">
              <div class="main">
                  <div class="card-my3">	
                      <div class="large">
                          <div class="active-div2">
                              <div class="owl">
                                  <img class="img2" src="../../../../assets/images/tiltWindow.jpg">
                              </div>
                              <h2 class="mt-5">Tilt And Turn Windows</h2>
                          </div>
                          <div class="hover-div2">
                              <h3 class="mt-5">Description</h3>
                              <p class="mt-5">These windows can tilt inwards for protection against rain and swing in like a casement window with the help of their side hinges. They are best suited when you need the slight ventilation but without the outside weather elements affecting your home.</p>  
                          </div>
                      </div>	
                  </div>
              </div>
          </div>
          <div class="col-md-6 col-lg-3">
              <div class="main">
                  <div class="card-my3">	
                      <div class="large">
                          <div class="active-div2">
                              <div class="owl">
                                  <img class="img2" src="../../../../assets/images/combinationWindow.jpg">
                              </div>
                              <h2 class="mt-5">Combination Windows</h2>
                          </div>
                          <div class="hover-div2">
                              <h3 class="mt-5">Description</h3>
                              <p class="mt-5">Combination windows are a combination of different types of windows that deliver a completely new and stylish twist to your room.</p>  
                          </div>
                      </div>	
                  </div>
              </div>
          </div>
          <div class="col-md-6 col-lg-3">
              <div class="main">
                  <div class="card-my3">	
                      <div class="large">
                          <div class="active-div2">
                              <div class="owl">
                                  <img class="img2" src="../../../../assets/images/fixedWindow.jpg">
                              </div>
                              <h2 class="mt-5">Fixed Windows</h2>
                          </div>
                          <div class="hover-div2">
                              <h3 class="mt-5">Description</h3>
                              <p class="mt-5">Fixed windows are those windows with no openings and these are best in spaces where little or no extra ventilation is required.</p>  
                          </div>
                      </div>	
                  </div>
              </div>
          </div>
          <div class="col-md-6 col-lg-3">
              <div class="main">
                  <div class="card-my3">	
                      <div class="large">
                          <div class="active-div2">
                              <div class="owl">
                                  <img class="img2" src="../../../../assets/images/singleWindow.jpg">
                              </div>
                              <h2 class="mt-5">Single And Double Hung Windows</h2>
                          </div>
                          <div class="hover-div2">
                              <h3 class="mt-5">Description</h3>
                              <p class="mt-5">Single hung windows are fixed at the top but the bottom slides up and down like a traditional sash window. Double hung windows on the other hand, have a fixed bottom but can be opened at the top.</p>  
                          </div>
                      </div>	
                  </div>
              </div>
          </div>
          <div class="col-md-6 col-lg-3">
              <div class="main">
                  <div class="card-my3">	
                      <div class="large">
                          <div class="active-div2">
                              <div class="owl">
                                  <img class="img2" src="../../../../assets/images/awningWindow.jpg">
                              </div>
                              <h2 class="mt-5">Awning Windows</h2>
                          </div>
                          <div class="hover-div2">
                              <h3 class="mt-5">Description</h3>
                              <p class="mt-5">Similar to casement windows, these windows too have a hinged sash, but the hinges are at the top.
                                  Understand your space and then choose a window type best suited for your requirement.
                                  </p>  
                          </div>
                      </div>	
                  </div>
              </div>
          </div>
      </div>
  </div>     
</section>
<section class="parallex mb-5 mt-5">
  <div class="container">
      <div class="row">
          <div class="col text-center mt-5">
              <h3>UNDERSTANDING GLASS</h3>
              <p class="text-justify mt-5">Glass is amorphous (non-crystalline) transparent / translucent and is produced by floating molten glass over a bed of a liquid tin, which has a low melting temperature. Float glass is made from a mixture of sand, limestone, soda ash, dolomite, iron oxide and salt cake which are heated to a temperature of 1500 degrees Celsius.
                  The most common glass used is “Lead Glass” for optical use which has 24% or more lead (PbO) by weight and refractive index of more than 1.545 %.                            
              </p>
          </div>
      </div>
  </div>
</section>
<section class="glasses">
  <div class="container">
      <h2 class="contact-heading text-center mb-5 mt-5">GLASSES</h2> 
      <div class="row">
          <div class="col-lg-3 col-md-6">
              <div class="card-my2">	
                  <div class="active-div">
                      <div class="owl">
                          <img class="img3" src="../../../../assets/images/floatGlass.jpg">
                      </div>
                      <h2 class="mt-3">Float Or Annealed Glass</h2>
                  </div>
                  <div class="hover-div">
                      <h3 class="mt-4">Description</h3>
                      <p class="mt-2" >Float glass also called as flat glass is annealed glass (not tempered or heat strengthened) and is produced by controlled cooling to prevent residual stress in the glass. Float glass is high quality like sheet glass with good optical clarity like plate glass and can be cut, drilled, machined, edged, bent and polished.</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6">
              <div class="card-my2">	
                  <div class="active-div">
                      <div class="owl">
                          <img class="img3" src="../../../../assets/images/toughenedGlass.jpg">
                      </div>
                      <h2 class="mt-3">Toughened Glass</h2>
                  </div>
                  <div class="hover-div">
                      <h3 class="mt-4">Description</h3>
                      <p class="mt-2" >Thermally tempered or toughened glass is approx 4 times stronger than annealed glass. Toughened glass is impact resistant and when it is broken it shatters into small, harmless cubes. Toughened glass is made from annealed glass which is heated to 600C and then rapidly cooled</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6">
              <div class="card-my2">	
                  <div class="active-div">
                      <div class="owl">
                          <img class="img3" src="../../../../assets/images/heatGlass.jpg">
                      </div>
                      <h2 class="mt-3">Heat Strengthened Glass</h2>
                  </div>
                  <div class="hover-div">
                      <h3 class="mt-4">Description</h3>
                      <p class="mt-2" >Heat strengthened glass is subjected to heating / cooling cycle in controlled behaviour and is twice as strong as annealed glass. These glasses also have higher resistance to thermal loads. When broken, the glass fragments break into large pieces and do not result into small fragments like toughened glass, thus allowing it to stay in the opening for a longer duration</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6">
              <div class="card-my2">	
                  <div class="active-div">
                      <div class="owl">
                          <img class="img3" src="../../../../assets/images/frostedGlass.jpg">
                      </div>
                      <h2 class="mt-3">Frosted Glass</h2>
                  </div>
                  <div class="hover-div">
                      <h3 class="mt-4">Description</h3>
                      <p class="mt-2" >Most commonly used when privacy is required, frosted glass allows light to pass through without clear view. Frosted glass is produced by sand blasting or acid etching float glass.</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6">
              <div class="card-my2">	
                  <div class="active-div">
                      <div class="owl">
                          <img class="img3" src="../../../../assets/images/insulatedGlass.jpg">
                      </div>
                      <h2 class="mt-3">Insulated Or Double Glass</h2>
                  </div>
                  <div class="hover-div">
                      <h3 class="mt-4">Description</h3>
                      <p class="mt-2" >Insulated glass refers to two or more glass sealed around the edges with an air space between the two to form a single unit. The insulating air / gas between the two layers of glass improve the thermal performance of the unit</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6">
              <div class="card-my2">	
                  <div class="active-div">
                      <div class="owl">
                          <img class="img3" src="../../../../assets/images/laminatedGlass.jpg">
                      </div>
                      <h2 class="mt-3">Laminated Glass</h2>
                  </div>
                  <div class="hover-div">
                      <h3 class="mt-4">Description</h3>
                      <p class="mt-2" >Laminated glass consists of two or more glass permanently bonded together with one or multiple layer of polyvinylbutyral (PVB). Used most commonly when safety is paramount. When broken, the glass pieces tend to adhere to plastic (PVB) layer. It is recommended to use toughened glass with Lamination.</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6">
              <div class="card-my2">	
                  <div class="active-div">
                      <div class="owl">
                          <img class="img3" src="../../../../assets/images/tintedGlass.jpg">
                      </div>
                      <h2 class="mt-3">Tinted (Colored) Glass</h2>
                  </div>
                  <div class="hover-div">
                      <h3 class="mt-4">Description</h3>
                      <p class="mt-2" >Tinted or light colored glasses are used to for aesthetic appeal or reduce direct glare and providing “soothing feel”. Tinted glass reduces light transmission and therefore proper deliberation should be done before going in for this glass.</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6">
              <div class="card-my2">	
                  <div class="active-div">
                      <div class="owl">
                          <img class="img3" src="../../../../assets/images/borosilicateGlass.jpg">
                      </div>
                      <h2 class="mt-3">Reflective Glass</h2>
                  </div>
                  <div class="hover-div">
                      <h3 class="mt-4">Description</h3>
                      <p class="mt-2" >Reflective glass is glass that has been treated with advanced coatings to reflect heat and radiation from sunlight while allowing the natural light to come in. These glasses cut substantial light and heat and are recommended to be used in double glazing (DG) format.</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<app-footer> </app-footer>