<app-header></app-header>
<app-banner [bannerObj]="bannerObj"> </app-banner>
<div class="jumbotron">
  <div class="slidecontainer">
    <input type="range" min="400" max="1000" value="0" class="slider" id="myRange">
  </div>
  <!--<form [formGroup]='inputForm'>
    <div>
      Width :
      <input type="text" appRange rangeType='width' formControlName='width' name='width'>
      <br/>
    </div>
    <div>
      Height :
      <input type="text" appRange rangeType='height' formControlName='height' name='height'>
      <br/>
    </div>
  </form>-->
</div>
<app-parallax [imageLink]="getImageLink()"></app-parallax>
<app-footer> </app-footer>